<header class="border-t-primary border-t-5">
  <div class="absolute print:hidden">
    <a
      href="cv-stephane-francel.pdf"
      download
      class="inline-flex items-center gap-1 p-1 text-neutral-400"
      style="text-decoration: none"
    >
      <span class="material-symbols-outlined text-xl!">download</span>
      Télécharger
    </a>
  </div>

  <app-basics class="mt-12 block" [basics]="basics" />
</header>

<main class="m-auto max-w-4xl px-6">
  <app-section title="Compétences" icon="workspace_premium">
    <div
      class="mt-6 gap-12 sm:columns-2 md:columns-3"
      style="column-rule: 1px solid var(--color-neutral-200)"
    >
      @for (skill of skills; track $index) {
        <app-skill class="mb-4 block break-inside-avoid" role="article" [skill]="skill" />
      }
    </div>
  </app-section>

  <app-section title="Entreprises" icon="business_center">
    <div
      class="mt-6 gap-12 text-neutral-500 sm:columns-2 md:columns-3"
      style="column-rule: 1px solid var(--color-neutral-200)"
    >
      @for (company of companies; track $index) {
        <strong class="mb-4 block">{{ company }}</strong>
      }
    </div>
  </app-section>

  <app-section title="Expérience" icon="beenhere" class="break-before-page">
    @for (work of works; track $index) {
      <app-work
        [work]="work"
        class="mx-auto block max-w-4xl break-inside-avoid pt-6"
        [class.pb-3]="!$last"
        [class.border-b]="!$last"
        [class.border-neutral-300]="!$last"
        role="article"
      />
    }
  </app-section>

  @if (projects.length) {
    <app-section title="Projets" icon="architecture">
      @for (project of projects; track $index) {
        <app-project class="mt-6 block" [project]="project" />
      }
    </app-section>
  }

  <app-section title="Formation & langues" icon="license">
    <ul class="mt-6">
      <li>
        DEA, Physique appliquée, Mention B – INPG (Institut National Polytechnique de Grenoble)
      </li>
      <li>Français et Anglais</li>
    </ul>
  </app-section>

  <footer class="mt-12 mb-3 text-center"><app-logo-zenika>Zenika</app-logo-zenika></footer>
</main>
